---
// TablaContenido.astro
---
<div class="tabla-contenido">

  <h1>Tabla de Contenido</h1>
  <nav>

    <ul>
      <li><a href="#features">Características</a></li>
      <li><a href="#proceso">Proceso</a></li>
      <li><a href="#logos">Logos</a></li>
      <li><a href="#cta">Llamada a la Acción</a></li>
      <!-- Agrega más ítems según sea necesario -->
    </ul>
  </nav>
</div>


<style>
    /* Estilos para TablaContenido */
    .tabla-contenido {
        position: sticky;
        top: 0;
        right: 0;
        margin-left: auto;
        padding: 3rem;
    }

    /* Estilos para la barra de navegación y sus ítems */
    nav ul {
        list-style-type: none;  /* Elimina los bullets de la lista */
        padding: 0;  /* Elimina el padding predeterminado */
    }

    nav li {
        font-size: 1.5rem;  /* Aumenta el tamaño de fuente */
        margin-bottom: 1rem;  /* Añade espacio debajo de cada ítem */
    }

    nav a {
        text-decoration: none;  /* Elimina el subrayado de los enlaces */
        color: black;  /* Color del texto de los enlaces */
    }

    nav a:hover {
        text-decoration: underline;  /* Añade un subrayado cuando se pasa el cursor sobre los enlaces */
    }
</style>


